<div class="card">
    <div class="card-body">
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="adicionarProduto()">Adicionar Produto</button>
        </div>
        <div [formGroup]="listaProdutosForm" (ngSubmit)="emitirProduto()">
            <div class="form-group">
                <div formArrayName="pedidos" *ngFor="let pedido of listaProdutosForm.get('pedidos').controls; let i = index">
                    <div [formGroupName]="i">
                        <label for="produtos">Produto</label>
                        <select name="produtos" class="form-control" (change)="selecionarProduto($event.target.value)">
                            <option disabled value=" ">Selecione um Produto</option>
                            <option *ngFor="let produto of produtosExistentes, let index = index" [value]="produtosExistentes[index].descricao">{{ produtosExistentes[index].descricao }}</option>
                        </select>
                        <label for="quantidade">Quantidade</label>
                        <input type="number" class="form-control" id="quantidade" formControlName="quantidade">
                        <div *ngIf="produtosSelecionados.length > 0">
                            <label for="quantidade">Preço Total</label>
                            <input type="number" class="form-control" id="precoTotal" [value]="definirPreco()" formControlName="precoTotal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>